@font-face {
	font-family: Summit;
	src:url(../fonts/clarks-summit.woff);
}


body {
	overflow: hidden;
}

#background-photo-container {
	position: absolute;
	width: 100%;
	height:100%;
}

.background-photo {
	position: absolute;
	width: 100%;
	height:100%;
	left:100%;
}

#bg1 {
	background-image: url(../img/breadbutter-wide.jpg);
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	/*background-position: center;*/
	 
}
#bg2 {
	background-image: url(../img/greybg.png);
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	background-position: center;
	 
}
#bg3 {
	background-image: url(../img/crumpled-paper.jpg);
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	background-position: center;
	 
}
#bg4 {
	background-image: url(../img/mandolin.jpg);
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	/*background-position: center;*/
	 
}
#bg5 {
	background-image: url(../img/microphone.jpg);
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: 120%;
	background-position: center;
	/*background-position: center;*/
	 
}
#bg6 {
	background-image: url(../img/harmonica.jpg);
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	/*background-position: center;*/
	 
}
#bg7 {
	background-image: url(../img/uke-bass.jpg);
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	/*background-position: center;*/
	 
}
#bg8 {
	background-image: url(../img/guitar.jpg);
	-webkit-background-size: cover;
	-moz-background-size: cover;
	/*overflow: hidden;*/
	background-size: 120%;
	background-position: right;
	 
}
#bg9 {
	background-image: url(../img/bread-and-butter-website-poster.jpg);
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	background-position: bottom;
	 
}


.previous-slide {
	position: absolute;
	left:-100%;
}

.next-slide {
	position: absolute;
	left:100%;
}
.current-slide {
	position: absolute;
	left:0;
	top:0;
}
#banner {
	position:absolute;
	top:0;
	left:5%;
	width:23%;
	min-width:340px;
	z-index:3;
}

nav {
	position: absolute;
	top:100%;
	left:6%;
	width:21%;
	height:100%;
	min-width:320px;
	color:white;
	font-family: 'HelveticaNeue-Light', Helvetica, Arial, sans-serif;
	-webkit-font-smoothing:antialiased;
	font-size:1.3rem;
	line-height: 1.3rem;
	letter-spacing: -1px;
	background-color: rgba(0,0,0,.4);
	z-index:2;
	padding:0 3% 0 3%;
	box-sizing:border-box;
}
nav ul {
	overflow: visible;
}
nav #nav-container {
	margin-top: 50%;
	position: relative;
	z-index: 5;
	overflow: scroll;
	overflow-x:visible;
	/*overflow-y: visible;*/
	height:62%;

}
.album-title {
	font-family: 'Summit', 'Helvetica', arial, sans-serif;
	font-size: 1.75rem;
	text-align: center;
	word-spacing: -21px;
	padding:15px 0 15px 0;
	/*margin-top: 10px;*/
	border-bottom: solid rgba(255,255,255,0.7) 5px;
	cursor:pointer;
	position: relative;
	z-index:5;
}
.unreleased {
	/*border-top: solid rgba(255,255,255,0.7) 5px;*/
	margin: 10px 0;
	opacity: .5;
	cursor: inherit;

}
.triangle {
	width:13px;
	display: inline;
}

.triangle-down {
	-webkit-transform:rotate(90deg);
}

.box_rotate {
  -webkit-transform: rotate(0deg);  /* Chrome, Safari 3.1+ */
    -moz-transform: rotate(0deg);  /* Firefox 3.5-15 */
      -ms-transform: rotate(0deg);  /* IE 9 */
        -o-transform: rotate(0deg);  /* Opera 10.50-12.00 */
         transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera 12.50+ */
}
.box_transition {
  -webkit-transition: all 0.3s ease-out;  /* Chrome 1-25, Safari 3.2+ */
     -moz-transition: all 0.3s ease-out;  /* Firefox 4-15 */
       -o-transition: all 0.3s ease-out;  /* Opera 10.50–12.00 */
          transition: all 0.3s ease-out;  /* Chrome 26, Firefox 16+, IE 10+, Opera 12.50+ */
}

.track-list-item {
	cursor:pointer;
	padding:17px 0 0 0px ;
	height:37px;
	border-bottom:solid white thin;
	list-style-type: decimal;
	list-style-position:inside;
	white-space: nowrap;
	overflow-x:visible;
	position: relative;


	/*text-align: center;*/

	/*text-shadow: 1px 1px 10px #000;*/
}
.track-list-item:not(#nav-track1) {
	/*opacity: .65;*/
}

#tab {
	position: absolute;
	height:50px;
	top:-50px;
	left:50%;
	-webkit-transform:translate(-50%, 0);
	cursor:pointer;
}

.close-tab {
	position: absolute;
	bottom:40px;
	left:0;
	width:100%;
	text-align: center;
	z-index:9;
}
#exit-tab {
	width:38px;
	cursor:pointer;
}


#nav-track1 {
	color:black;
	/*text-shadow:none;*/
}

#player {
	width:100%;
	height:35%;
	position: absolute;
	bottom: 0;
}

/* Player */
#bar {
	position: absolute;
	top:60%;
	left:50%;
	-webkit-transform:translate(-50%,-50%);
	-moz-transform:translate(-50%,-50%);
	-o-transform:translate(-50%,-50%);
	-ms-transform:translate(-50%,-50%);
	transform:translate(-50%,-50%);
	cursor: pointer;
	opacity:0.95;
}

	#gutter {
		height:8px;
		width:300px;
		background-color: white;
		position: relative;
		margin:0;
		padding:0;
		float:left;
		margin-top:3px;
		margin-right:5px;

	}

		#handle {
			width:5px;
			height:25px;
			background-color: #E01855;
			position: absolute;
			left:1%;
			top:50%;
			-webkit-transform:translate(0, -50%);
			-moz-transform:translate(0, -50%);
			-o-transform:translate(0, -50%);
			-ms-transform:translate(0, -50%);
			transform:translate(0, -50%);
			margin:0 !important;
		}

	#itunes-button {
		position: absolute;
		right:-115px;
		top:-10px;
		width:100px;
	}
	#disk-container {
		color:white;
		position: absolute;
		right:-150px;
		top:-3px;
		font-family: 'HelveticaNeue-Light', 'Helvetica', 'Arial', sans-serif;
		height:10px;

	}
	#disk-container p {
		display: inline;
		/*margin-top: 0px;*/
	}
	#disk-image {
		width:45px;
		position: absolute;
		top:-12px;
		left:40px;
		/*margin-top: 20px;*/
	}

#controls {
	/*background-color: gray;*/
	width:87%;
	margin:auto;
	height:100px;
	position: relative;
}

	#pause {
		position: absolute;
		top:50%;
		left:50%;
		-webkit-transform:translate(-50%,-50%);
		-moz-transform:translate(-50%,-50%);
		-o-transform:translate(-50%,-50%);
		-ms-transform:translate(-50%,-50%);
		transform:translate(-50%,-50%);
		cursor:pointer;
	}

		#pause-button {
			height:75px;
			opacity: .8;

		}

	#previous {
		position: absolute;
		top:50%;
		-webkit-transform:translate(0%,-50%);
		-moz-transform:translate(0%,-50%);
		-o-transform:translate(0%,-50%);
		-ms-transform:translate(0%,-50%);
		transform:translate(0%,-50%);
		left:0;
	}
	#next {
		position: absolute;
		top:50%;
		-webkit-transform:translate(0%,-50%);
		-moz-transform:translate(0%,-50%);
		-o-transform:translate(0%,-50%);
		-ms-transform:translate(0%,-50%);
		transform:translate(0%,-50%);
		right:0;
	}

	.arrows {
		height:40px;
		cursor: pointer;
		opacity: .8;
	}	

audio {
	display: none;
}

#timeelapsed {
	color:white;
	font-family: 'Helvetica', Arial, sans-serif;
	float:left;
	margin-right:5px;
}
#timeleft {
	color:white;
	font-family: 'Helvetica', Arial, sans-serif;
}



#info {
	position: absolute;
	top:10%;
	right:10%;
	/*width:300px;*/
	
}

#song-title {
	float:left;
	font-family: 'Summit', Helvetica, Arial, sans-serif;
	/*color:white;*/
	font-size:2rem;
	word-spacing: -27px;
	margin-right:20px;
	/*position: absolute;*/
	width:auto;
	white-space: nowrap;
}



#info-i {
	/*position: absolute;
	top:10%;
	right:10%;*/
	width:35px;
	cursor:pointer;
	/*float:right;*/
}

#overlay {
	position: absolute;
	top:0;
	left:0;
	height:100%;
	width:100%;
	background-color: rgba(139, 137, 137, 0.9);
	display: none;
}


.song-info {
	position: absolute;
	width:30%;
	font-family:'Helvetica-Neue-Light', 'HelveticaNeueLight', 'HelveticaNeue-Light', Helvetica, Arial, sans-serif;
	color:white;
	left:50%;
	top:30%;
	font-size: 1.2rem;
	-webkit-transform:translate(-50%,-50%);

}

#squares {
	position: absolute;
	top:92.5%;
	left:50%;
	-webkit-transform:translate(-50%,-50%);
}
#squares div {
	float:left;
	width:8px;
	height:8px;
	border:solid white thin;
	margin-right:5px;
	cursor: pointer;
}
.sq-active {
	background-color: white;
}




@media screen and (max-width:1650px) {
	.track-list-item {
		font-size: 1.2rem;
	}
}
@media screen and (max-width:1440px) {
	/*.track-list-item {
		font-size: 1rem;
	}*/
	/*nav {
		padding:0 2% 0 2%;
	}*/
	/*nav #nav-container {
		margin-top: 70px;
	}*/
}


@media screen and (max-width:1000px) {
	
	.background-photo {
		background-position: center;
	}
	#bar {
		/*width:100%;
		*/
		left:0;
		-webkit-transform:translate(0,0);
		-moz-transform:translate(0,0);
		-o-transform:translate(0,0);
		-ms-transform:translate(0,0);
		transform:translate(0,0);
	}
	#gutter {
		width:200px;
	}
}



@media screen and (max-width:700px) {
	nav {
		width:100%;
		left:0;
		z-index:5;
		background-color: rgba(0,0,0,.7);

	}
	.close-tab {
		width:auto;
		height:30px;
		top:40px;
		right:10px;
		bottom:none;
		text-align: center;
		z-index:9;
	}
	#banner {
		left:50%;
		top:0;
		width:150px;
		min-width:275px;
		-webkit-transform:translate(-50%,0%);
		-moz-transform:translate(-50%,0%);
		-o-transform:translate(-50%,0%);
		-ms-transform:translate(-50%,0%);
		transform:translate(-50%,0%);
	}
	nav #nav-container {
		margin-top: 100px;
		height:80%;
	}
	.track-list-item {
		font-size: 1.5rem;
		font-family: Helvetica, Arial, sans-serif;
		opacity:1;
	}
	#bar {
		display: none;
	}

	#squares {
		top:90%;
	}

	#bg1 {
		position:top;
		background-image: url(../img/bg1-mobile.jpg);
		position:top;
	}


}










